<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="1.css"/>
</head>
<body>
	<button class="btn btn-outline-primary"><i class="fa fa-facebook"> facebook</i></button>
	
	<script src="js/anime.min.js"></script>
	<script src="1.js"></script>
</body>
</html>